# Bem vindo ao arquivo de gitignore!!
# Aqui você configura arquivos que não serão adicionados com o git add.

#``Nível 5``

# Este arquivo é oculto por padrão,
# mas você sabia que tem algumas branches que não são mostrados para você,
# quando você verifica a lista de branches?
#
# Para a sua próxima dica...
# Qual tipo abstrato de dados tende a implementar conjuntos e mapas??
# A resposta é a mesma resposta para esta charada:
#
#   Eu sou alta, mas não sou uma montanha.
#   Raramente fico parada
#   mas nunca saio do lugar.
#   Bebo água, mas não tenho sede.
#
#   O que sou eu?
#
# Em seguida... bem, você
# sabe, mude para a resposta. 

*.rem
a.out
